{
  "presets": [
    ["@babel/preset-react", { "useSpread": true }],
    ["@babel/preset-env", { "targets": { "esmodules": true } }]
  ],
  "plugins": [
    "@babel/plugin-transform-optional-chaining",
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "alias": { "rt": "./src/" }
      }
    ]
  ]
}
