{
  "parser": "@babel/eslint-parser",
  "rules": {
    "strict": 1,
    "no-undef": 1,
    "no-fallthrough": 1,
    "react/sort-default-props": 0,
    "react/require-default-props": 0,
    "react/default-props-match-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/sort-prop-types": 0,
    "react/forbid-prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-component-props": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-props-no-spreading": 0,
    "react/static-property-placement": 0,
    "react/no-unused-class-component-methods": 0,
    "react/function-component-definition": 0,
    "react/require-optimization": 0,
    "react/no-set-state": 0,
    "react/sort-comp": 0,
    "react/jsx-max-depth": 0,
    "react/jsx-no-literals": 0,
    "react/prefer-stateless-function": 2,
    "react/state-in-constructor": 0,
    "react/prop-types": 2
  },
  "plugins": ["react"],
  "extends": [
    "standard",
    "standard-react",
    "eslint:recommended",
    "plugin:react/all",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  }
}
