{
  "parser": "babel-eslint",
  "rules": {
    "strict": 1,
    "no-undef": 1,
    "prefer-arrow-callback": [1, { "allowNamedFunctions": false, "allowUnboundThis": false }],
    "curly": [1, "all"],
    "arrow-body-style": [1, "as-needed"],
    "no-fallthrough": 1,
    "react/prop-types": 2
  },
  "extends": ["standard", "standard-jsx", "standard-react", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "node": true
  }
}
